@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Anton", sans-serif;
}

@layer utilities {
  .text-stroke-white {
    -webkit-text-stroke: 1px white;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  @apply antialiased;
}
